.board {
  max-width: 700px;
  min-width: 500px;
  margin: 0 auto;
  border: 6px solid #f1f5ff;
  border-radius: 8px;
  min-height: 250px;
  text-align: center;
  padding: 25px 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 22px 3px rgba(72, 120, 239, 0.35),
    0 0 28px 5px rgba(72, 120, 239, 0.45);
  animation: blinking 0.01s infinite alternate;
}

.logo {
  width: 100%;
  font-size: 6.5em;
  color: #f1f5ff;
  letter-spacing: 3px;
  white-space: pre;
  position: relative;
  text-shadow: 0 0 0 transparent, 0 0 10px #0049ff,
    0 0 20px rgba(0, 73, 255, 0.5), 0 0 40px #0049ff, 0 0 300px #0049ff,
    0 0 200px #0049ff, 0 0 300px #0049ff, 0 0 500px #0049ff;
  animation: flicker 5s infinite alternate;
}

.logo:before {
  content: "";
  position: absolute;
  height: 6px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #fffcd7;
  border-radius: 8px;
  box-shadow: inset 0 0 18px rgba(251, 255, 0, 0.35),
    0 0 18px 5px rgba(251, 255, 0, 0.35);
  animation: blinking 0.02s infinite alternate;
}

.logo:after {
  content: "";
  position: absolute;
  height: 6px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #fffcd7;
  border-radius: 8px;
  box-shadow: inset 0 0 18px rgba(251, 255, 0, 0.35),
    0 0 18px 5px rgba(251, 255, 0, 0.35);
  animation: blinking 0.02s infinite alternate;
}

@keyframes blinking {
  75% {
    opacity: 0.8;
  }
}

@keyframes flicker {
  10% {
    opacity: 1;
  }
  12% {
    opacity: 0.7;
  }
  13% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}

.board:hover {
  animation-duration: 3s;
  animation-name: slidein;
  animation-direction: alternate;
}
